Data Analysis Of Youth Profiled

In [1]:
# Import libraries
import pandas as pd
from itables import show

In [2]:
# Import raw data and convert into dataframe
raw_data = pd.read_csv('kabataankonek_cleaned_raw.csv')

# Check if dataframe was created
raw_data.head()

,barangay,enumerator_id,enumerator,day_1,day_2,day_3,day_4,day_5,day_6,day_7,...,day_12,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,day_21
0,ARKONG BATO,KK001,"CAJIPE, PRINCESS DIVINE TRIVIÑO",13,7,17,13,18,2,6,...,1,0,6,8,0,1,10,4,10,8
1,ARKONG BATO,KK002,"GABRIEL, RONALYN EVANGELISTA",16,0,44,1,18,0,0,...,1,0,0,0,0,0,0,2,1,0
2,ARKONG BATO,KK003,"MACATANGAY, RONALIZA GONO",12,7,16,13,19,3,6,...,1,0,6,7,0,0,11,6,8,7
3,BALANGKAS,KK004,"FRANCISCO, FRANCIS MORENO",11,4,9,18,9,8,8,...,8,1,9,15,3,16,22,9,5,0
4,BALANGKAS,KK005,"MERCADER, PIERCE JASM DATA",15,15,15,20,8,12,4,...,8,0,11,15,2,0,23,11,5,0

In [3]:
# Using itables for better view and quick search filtering tables
show(raw_data)

Total Days Youth Profiled Per Barangay

In [4]:
# Creating dataframe for getting data of total days youth profiled per barangay
days_per_barangay = pd.DataFrame()

# Creating columns
days_per_barangay['barangay'] = raw_data['barangay'].unique()

days = [f'day_{i}' for i in range(1, 22)]
days_per_barangay = raw_data.groupby('barangay')[days].sum().reset_index()

# Display the table
show(days_per_barangay)

In [5]:
# Display result table
days_per_barangay

,barangay,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,...,day_12,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,day_21
0,ARKONG BATO,41,14,77,27,55,5,12,14,10,...,3,0,12,15,0,1,21,12,19,15
1,BAGBAGUIN,130,169,129,81,187,138,43,52,87,...,12,7,6,19,6,26,43,23,27,63
2,BALANGKAS,46,32,45,57,53,45,21,1,0,...,30,1,45,66,9,49,71,42,21,4
3,BIGNAY,249,426,401,88,234,235,110,162,55,...,42,42,167,102,70,149,243,150,56,106
4,BISIG,41,25,0,30,30,25,17,17,0,...,17,0,10,7,0,0,0,4,1,0
5,CANUMAY EAST,106,215,148,101,98,46,48,44,19,...,18,18,20,14,15,29,18,17,21,15
6,CANUMAY WEST,168,203,239,73,92,61,89,13,18,...,10,10,39,29,3,32,15,11,5,5
7,COLOONG,110,150,102,45,81,52,48,41,44,...,29,7,25,27,5,0,2,0,0,0
8,DALANDANAN,93,112,68,67,68,31,40,96,22,...,60,0,62,4,14,47,0,21,6,2
9,GEN T. DE LEON,25,546,776,271,247,199,340,376,285,...,233,109,267,215,56,320,208,161,149,141
10,ISLA,0,76,47,31,0,0,0,31,12,...,0,0,0,0,0,0,2,11,0,0
11,KARUHATAN,0,559,408,43,62,8,18,294,336,...,169,14,138,100,0,324,213,61,96,114
12,LAWANG BATO,65,186,56,91,106,32,35,31,8,...,2,2,111,167,88,153,118,33,75,148
13,LINGUNAN,4,239,302,51,115,87,88,65,113,...,46,24,50,42,1,56,109,36,67,59
14,MALANDAY,124,167,171,46,78,52,31,44,52,...,54,49,156,73,14,47,22,31,65,42
15,MALINTA,397,452,507,405,262,209,459,323,126,...,78,47,132,76,8,70,29,67,44,21
16,MAPULANG LUPA,198,310,417,285,374,321,262,287,320,...,216,71,261,196,51,183,170,57,78,46
17,MARULAS,215,489,501,379,371,317,202,250,227,...,49,79,91,0,0,148,108,44,40,57
18,MAYSAN,97,66,37,50,29,48,38,18,8,...,62,14,22,22,5,21,38,22,23,67
19,PALASAN,1,20,23,39,1,0,0,0,0,...,28,0,0,0,3,2,1,5,5,3
20,PARADA,137,157,113,83,80,77,64,40,56,...,36,16,31,33,8,37,30,39,41,25
21,PARIACILLO VILLA,21,0,26,0,0,18,20,17,0,...,0,0,0,1,0,0,0,0,3,0
22,PASO DE BLAS,131,170,158,85,217,156,39,48,24,...,15,1,10,6,17,20,3,4,3,5
23,PASOLO,37,61,56,119,90,48,36,32,32,...,12,11,4,2,12,12,2,8,25,4
24,POBLACION,0,14,15,11,13,12,1,5,4,...,3,5,1,3,6,14,10,10,8,20
25,PULO,4,19,20,3,1,0,10,23,0,...,8,0,10,1,1,11,0,0,0,0
26,PUNTURIN,156,203,179,166,168,146,137,144,163,...,149,8,99,74,18,112,65,68,69,21
27,RINCON,46,55,38,35,32,16,18,6,5,...,0,0,0,0,1,0,4,8,0,4
28,UGONG,220,257,253,227,261,217,115,223,200,...,168,29,116,98,50,128,287,86,59,84
29,VEINTE REALES,2,1,219,218,170,227,101,89,55,...,5,2,63,22,11,30,33,28,39,11
30,WAWANG PULO,51,57,34,17,21,37,22,16,26,...,0,12,10,0,0,0,0,0,0,0

Total Weeks Youth Profiled Per Barangay

In [6]:
# Creating dataframe for getting data of total weeks youth profiled per barangay
weeks_per_barangay = pd.DataFrame()

# Creating columns
weeks_per_barangay['barangay'] = days_per_barangay['barangay']
weeks_per_barangay['week_1'] = days_per_barangay[['day_1', 'day_2', 'day_3']].sum(axis=1)
weeks_per_barangay['week_2'] = days_per_barangay[['day_4', 'day_5', 'day_6']].sum(axis=1)
weeks_per_barangay['week_3'] = days_per_barangay[['day_7', 'day_8', 'day_9']].sum(axis=1)
weeks_per_barangay['week_4'] = days_per_barangay[['day_10', 'day_11', 'day_12']].sum(axis=1)
weeks_per_barangay['week_5'] = days_per_barangay[['day_13', 'day_14', 'day_15']].sum(axis=1)
weeks_per_barangay['week_6'] = days_per_barangay[['day_16', 'day_17', 'day_18']].sum(axis=1)
weeks_per_barangay['week_7'] = days_per_barangay[['day_19', 'day_20', 'day_21']].sum(axis=1)

# Display the table
show(weeks_per_barangay)

In [7]:
# Display result table
weeks_per_barangay

            barangay  week_1  week_2  week_3  week_4  week_5  week_6  week_7
0        ARKONG BATO     132      87      36      23      27      22      46
1          BAGBAGUIN     428     406     182      54      32      75     113
2          BALANGKAS     123     155      22      94     112     129      67
3             BIGNAY    1076     557     327     340     311     462     312
4              BISIG      66      85      34      31      17       0       5
5       CANUMAY EAST     469     245     111      94      52      62      53
6       CANUMAY WEST     610     226     120     125      78      50      21
7            COLOONG     362     178     133      63      59       7       0
8         DALANDANAN     273     166     158      60      66      61      29
9     GEN T. DE LEON    1347     717    1001     490     591     584     451
10              ISLA     123      31      43       0       0       2      11
11         KARUHATAN     967     113     648     263     252     537     271
12       LAWANG BATO     307     229      74     132     280     359     256
13          LINGUNAN     545     253     266     135     116     166     162
14          MALANDAY     462     176     127     126     278      83     138
15           MALINTA    1356     876     908     157     255     107     132
16     MAPULANG LUPA     925     980     869     494     528     404     181
17           MARULAS    1205    1067     679     318     170     256     141
18            MAYSAN     200     127      64      88      58      64     112
19           PALASAN      44      40       0      28       0       6      13
20            PARADA     407     240     160      49      80      75     105
21  PARIACILLO VILLA      47      18      37      17       1       0       3
22      PASO DE BLAS     459     458     111      19      17      40      12
23            PASOLO     154     257     100      68      17      26      37
24         POBLACION      29      36      10       6       9      30      38
25              PULO      43       4      33      13      11      12       0
26          PUNTURIN     538     480     444     305     181     195     158
27            RINCON     139      83      29       3       0       5      12
28             UGONG     730     705     538     322     243     465     229
29     VEINTE REALES     222     615     245      58      87      74      78
30       WAWANG PULO     142      75      64       0      22       0       0

Total Months Youth Profiled Per Barangay

In [8]:
# Creating dataframe for getting data of total months youth profiled per barangay
months_per_barangay = pd.DataFrame()

# Creating columns
months_per_barangay['barangay'] = weeks_per_barangay['barangay']
months_per_barangay['september'] = weeks_per_barangay[['week_1', 'week_2', 'week_3', 'week_4']].sum(axis=1)
months_per_barangay['october'] = weeks_per_barangay[['week_5', 'week_6', 'week_7']].sum(axis=1)

# Display the table
show(months_per_barangay)

In [9]:
# Display result table
months_per_barangay

            barangay  september  october
0        ARKONG BATO        278       95
1          BAGBAGUIN       1070      220
2          BALANGKAS        394      308
3             BIGNAY       2300     1085
4              BISIG        216       22
5       CANUMAY EAST        919      167
6       CANUMAY WEST       1081      149
7            COLOONG        736       66
8         DALANDANAN        657      156
9     GEN T. DE LEON       3555     1626
10              ISLA        197       13
11         KARUHATAN       1991     1060
12       LAWANG BATO        742      895
13          LINGUNAN       1199      444
14          MALANDAY        891      499
15           MALINTA       3297      494
16     MAPULANG LUPA       3268     1113
17           MARULAS       3269      567
18            MAYSAN        479      234
19           PALASAN        112       19
20            PARADA        856      260
21  PARIACILLO VILLA        119        4
22      PASO DE BLAS       1047       69
23            PASOLO        579       80
24         POBLACION         81       77
25              PULO         93       23
26          PUNTURIN       1767      534
27            RINCON        254       17
28             UGONG       2295      937
29     VEINTE REALES       1140      239
30       WAWANG PULO        281       22

In [10]:
# Creating dataframe for getting data of total months youth profiled per barangay
youth_profiled_per_barangay = pd.DataFrame()

youth_profiled_per_barangay['barangay'] = months_per_barangay['barangay']
youth_profiled_per_barangay['total'] = months_per_barangay[['september', 'october']].sum(axis=1)

show(youth_profiled_per_barangay)

In [11]:
youth_profiled_per_barangay

            barangay  total
0        ARKONG BATO    373
1          BAGBAGUIN   1290
2          BALANGKAS    702
3             BIGNAY   3385
4              BISIG    238
5       CANUMAY EAST   1086
6       CANUMAY WEST   1230
7            COLOONG    802
8         DALANDANAN    813
9     GEN T. DE LEON   5181
10              ISLA    210
11         KARUHATAN   3051
12       LAWANG BATO   1637
13          LINGUNAN   1643
14          MALANDAY   1390
15           MALINTA   3791
16     MAPULANG LUPA   4381
17           MARULAS   3836
18            MAYSAN    713
19           PALASAN    131
20            PARADA   1116
21  PARIACILLO VILLA    123
22      PASO DE BLAS   1116
23            PASOLO    659
24         POBLACION    158
25              PULO    116
26          PUNTURIN   2301
27            RINCON    271
28             UGONG   3232
29     VEINTE REALES   1379
30       WAWANG PULO    303